body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
}

.container {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background-color: var(--container-bg-color);
    position: relative;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    text-align: center;
}

.clock {
    font-size: 2em;
    padding-top: 20px;
}

.icon-button {
    background: none;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
    color: var(--text-color);
}

.menu {
    display: none;
    position: absolute;
    top: 60px;
    left: 20px;
    background-color: var(--container-bg-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 10px;
}

.menu.visible {
    display: block;
}

.menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu ul li {
    margin: 10px 0;
}

.menu ul li a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.2em;
}

h1 {
    margin-bottom: 20px;
    font-size: 2.5em;
    color: var(--primary-color);
}

label {
    margin-right: 10px;
    font-size: 1.2em;
}

select {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    font-size: 1em;
}

button {
    padding: 10px 20px;
    margin-bottom: 20px;
    cursor: pointer;
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    transition: background-color 0.3s;
}

button:hover {
    background-color: var(--primary-color-dark);
}

#schedule {
    margin-top: 20px;
}

.train-times {
    list-style-type: none;
    padding: 0;
}

.train-times li {
    margin: 5px 0;
    font-size: 1.2em;
}

.direction-text {
    font-size: 1em; /* Adjust as needed for a slightly larger font */
  }

.footer {
    margin-top: 20px;
    font-size: 1em;
}

.footer a {
    color: var(--primary-color);
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

/* Light mode (default) styles */
:root {
    --bg-color: #f0f0f0;
    --text-color: #333;
    --container-bg-color: #fff;
    --primary-color: #66bb6a;       /* green accent for light mode */
    --primary-color-dark: #388e3c;  /* dark green accent for light mode */
    /* Additional variables as needed */
}

/* Automatically apply dark mode based on system settings */
@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: #121212;
        --text-color: #ffffff;
        --container-bg-color: #1e1e1e;
        --primary-color: #66bb6a;       /* green accent */
        --primary-color-dark: #388e3c;  /* dark green accent */
    }
}

/* Add these styles for the slider toggle */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 24px;
}

/* Toggle knob */
.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

/* Icon styling */
.slider .icon {
  position: absolute;
  font-size: 14px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  transition: opacity 0.4s;
}

/* Position icons within the slider */
.slider .dark-icon {
  left: 8px;
  opacity: 0;
}
.slider .light-icon {
  right: 8px;
  opacity: 1;
}

/* When toggle is active (dark mode) */
input:checked + .slider:before {
  transform: translateX(26px);
}

input:checked + .slider {
  background-color: #66bb6a;
}

/* Toggle icon visibility */
input:checked + .slider .light-icon {
  opacity: 0;
}
input:checked + .slider .dark-icon {
  opacity: 1;
}

/* Add these styles for the disclaimer */
.disclaimer {
  background-color: var(--container-bg-color);
  color: var(--text-color);
  border: 1px solid var(--primary-color);
  padding: 12px;
  margin: 12px 0;
  border-radius: 20px;
  font-size: 0.8em;
  font-family: 'Courier New', Courier, monospace;
}

.platform-info-container {
    display: flex;
    gap: 5px;
    margin: 2px 0;
}

.platform {
    flex: 1;
    background-color: var(--container-bg-color);
    padding: 16px;
    color: var(--text-color);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in {
  opacity: 0; /* initial state before the animation */
  animation: fadeIn 0.5s ease forwards;
}

#arrival-message {
    margin-top: 10px;
    font-size: 1em;
    color: var(--primary-color-dark);
    text-align: center;
    display: block;
}